Repository EventFahrplan/EventFahrplan, pull requests merged in 2020-11, with the labels that each got.

#339 Fix loading Engelsystem shifts / enhance error showing
  app/build.gradle
  app/proguard-rules/moshi.pro
  engelsystem/src/main/java/info/metadude/android/eventfahrplan/engelsystem/EngelsystemNetworkRepository.kt
Labels: Bug fix, Engelsystem, Project setup

#324 Adjust clock icon position
  app/src/main/res/drawable/ic_access_time.xml
  app/src/main/res/drawable/ic_room.xml
  app/src/main/res/layout/session_detailbar.xml
  app/src/main/res/layout/session_detailbar_large.xml
  assets/access-time.svg
  assets/room.svg
Labels: Design, Hacktoberfest

#342 Use correct time zone offset when sharing details of a session
  commons/src/main/java/info/metadude/android/eventfahrplan/commons/temporal/DateFormatter.kt
Labels: Date & time, Sharing

#341 Append time zone name if present when sharing a session or favorites.
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/dataconverters/MetaExtensions.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/details/SessionDetailsViewModel.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/favorites/StarredListFragment.java
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/models/Meta.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/repositories/AppRepository.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/FahrplanFragment.java
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/sharing/SimpleSessionFormat.java
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/validation/MetaValidation.kt
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/dataconverters/MetaExtensionsTest.kt
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/details/SessionDetailsViewModelTest.kt
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/sharing/SimpleSessionFormatTest.kt
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/validation/MetaValidationTest.kt
  commons/src/main/java/info/metadude/android/eventfahrplan/commons/temporal/DateFormatter.kt
  commons/src/test/java/info/metadude/android/eventfahrplan/commons/temporal/DateFormatterTest.kt
  database/src/androidTest/java/info/metadude/android/eventfahrplan/database/extensions/MetaExtensionsTest.kt
  database/src/main/java/info/metadude/android/eventfahrplan/database/contract/FahrplanContract.java
  database/src/main/java/info/metadude/android/eventfahrplan/database/extensions/CursorExtensions.kt
  database/src/main/java/info/metadude/android/eventfahrplan/database/extensions/MetaExtensions.kt
  database/src/main/java/info/metadude/android/eventfahrplan/database/models/Meta.kt
  database/src/main/java/info/metadude/android/eventfahrplan/database/repositories/MetaDatabaseRepository.kt
  database/src/main/java/info/metadude/android/eventfahrplan/database/sqliteopenhelper/MetaDBOpenHelper.java
  network/src/main/java/info/metadude/android/eventfahrplan/network/models/Meta.kt
  network/src/main/java/info/metadude/android/eventfahrplan/network/serialization/FahrplanParser.java
Labels: Date & time, Sharing

#343 Make Moment class immutable
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/base/SessionsAdapter.java
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/changes/ChangeListAdapter.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/dataconverters/SessionExtensions.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/dataconverters/SessionsExtensions.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/dataconverters/ShiftExtensions.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/favorites/StarredListAdapter.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/favorites/StarredListFragment.java
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/models/DateInfos.java
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/models/Session.java
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/repositories/AppRepository.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/Conference.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/FahrplanFragment.java
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/LayoutCalculator.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/TimeSegment.java
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/system/OnBootReceiver.java
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/utils/FahrplanMisc.java
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/dataconverters/SessionExtensionsTest.kt
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/dataconverters/ShiftExtensionsTest.kt
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/dataconverters/ShiftsExtensionsTest.kt
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/models/DateInfoTest.kt
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/models/DayRangeTest.kt
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/schedule/ConferenceTest.kt
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/schedule/LayoutCalculatorTest.kt
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/schedule/NavigationMenuEntriesGeneratorTest.kt
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/schedule/TimeSegmentTest.java
  commons/src/main/java/info/metadude/android/eventfahrplan/commons/temporal/Moment.kt
  commons/src/test/java/info/metadude/android/eventfahrplan/commons/temporal/DateFormatterTest.kt
  commons/src/test/java/info/metadude/android/eventfahrplan/commons/temporal/MomentTest.kt
  network/src/main/java/info/metadude/android/eventfahrplan/network/temporal/DateParser.kt
  network/src/main/java/info/metadude/android/eventfahrplan/network/validation/DateFieldValidation.kt
  network/src/test/java/info/metadude/android/eventfahrplan/network/validation/DateFieldValidationTest.kt
Labels: Date & time

#340 Fix showing all session alarm notifications
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/alarms/AlarmReceiver.java
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/alarms/AlarmServices.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/contract/BundleKeys.java
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/notifications/NotificationHelper.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/repositories/AppRepository.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/MainActivity.java
  commons/build.gradle
  commons/src/main/java/info/metadude/android/eventfahrplan/commons/extensions/StandardExtensions.kt
  commons/src/test/java/info/metadude/android/eventfahrplan/commons/extensions/StandardExtensionsTest.kt
  database/src/main/java/info/metadude/android/eventfahrplan/database/contract/FahrplanContract.java
  database/src/main/java/info/metadude/android/eventfahrplan/database/extensions/SessionExtensions.kt
  database/src/main/java/info/metadude/android/eventfahrplan/database/repositories/SessionsDatabaseRepository.kt
  database/src/main/java/info/metadude/android/eventfahrplan/database/sqliteopenhelper/SessionsDBOpenHelper.java
Labels: Bug fix, Notifications

#333 French translation update
  app/src/ccc36c3/res/values-fr/strings.xml
  app/src/main/res/values-fr/preferences.xml
  app/src/main/res/values-fr/strings.xml
Labels: Hacktoberfest, Translation
