Repository EventFahrplan/EventFahrplan, pull requests merged in 2023-01, with the labels that each got.

#530 Update project setup (Kotlin 1.8.0 + KSP)
  app/build.gradle
  buildSrc/src/main/kotlin/nerd/tuxmobil/fahrplan/congress/Dependencies.kt
Labels: Project setup

#516 Use compileSdk & targetSdk 33 (Android 13).
  app/src/main/AndroidManifest.xml
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/details/SessionDetailsFragment.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/details/SessionDetailsViewModel.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/details/SessionDetailsViewModelFactory.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/extensions/IntentExtensions.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/notifications/NotificationHelper.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/preferences/AlarmTonePreference.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/FahrplanFragment.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/FahrplanViewModel.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/FahrplanViewModelFactory.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/MainActivity.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/MainViewModel.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/MainViewModelFactory.kt
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/locales_config.xml
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/details/SessionDetailsViewModelTest.kt
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/schedule/FahrplanViewModelTest.kt
  app/src/test/java/nerd/tuxmobil/fahrplan/congress/schedule/MainViewModelTest.kt
  buildSrc/src/main/kotlin/nerd/tuxmobil/fahrplan/congress/Dependencies.kt
Labels: Project setup, Translation, Notifications

#531 Consistently output session language value
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/changes/ChangeListAdapter.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/favorites/StarredListAdapter.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/models/Session.java
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/SessionViewDrawer.kt
Labels: UX, Favorites, Schedule changes
