Repository EventFahrplan/EventFahrplan, pull requests merged in 2025-08, with the labels that each got.

#775 Use proper height for `SessionCardLayout`
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/FahrplanFragment.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/ScheduleComposables.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/SessionProperty.kt
  commons/src/main/java/info/metadude/android/eventfahrplan/commons/temporal/Duration.kt
Labels: Bug fix, Layout arithmetic

#778 Fix position calculation for the session context menu
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/ScheduleComposables.kt
Labels: Bug fix, Layout arithmetic, Schedule grid

#777 Add app-specific ColorScheme class
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/designsystem/bars/TopAppBar.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/designsystem/colors/ColorScheme.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/designsystem/colors/ColorSchemes.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/designsystem/themes/EventFahrplanTheme.kt
Labels: Design, Project setup

#780 Use gradle/actions/setup-gradle@v4.
  .github/workflows/build.yaml
Labels: Project setup
