Repository EventFahrplan/EventFahrplan, pull requests merged in 2025-10, with the labels that each got.

#786 Add divider attribute to color scheme
  app/src/ccc38c3/res/values/colors.xml
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/designsystem/colors/ColorScheme.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/designsystem/colors/ColorSchemes.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/designsystem/dividers/DividerHorizontal.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/search/SearchComposables.kt
  app/src/main/res/values/colors.xml
Labels: Architecture, Housekeeping

#788 Fix edge-to-edge issues on schedule screen.
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/extensions/ViewExtensions.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/FahrplanFragment.kt
Labels: Project setup, Schedule grid

#787 Enable predictive back.
  app/src/main/AndroidManifest.xml
Labels: Project setup, App settings, Favorites, Schedule changes, Alarms, Session details, Schedule grid, Search / filter, Schedule statistics screen

#789 Use compileSdk & targetSdk 35 (Android 15).
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/changes/SessionChangeProperty.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/extensions/ViewExtensions.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/preferences/StyleableEditTextPreference.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/preferences/ValidateableEditTextPreference.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/repositories/AppRepository.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/schedule/SessionCardData.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/sharing/models/SessionExport.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/system/OnBootReceiver.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/utils/FahrplanMisc.kt
  app/src/main/java/nerd/tuxmobil/fahrplan/congress/utils/SessionPropertiesFormatting.kt
  app/src/main/res/layout/session_list_item.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values/strings.xml
  buildSrc/src/main/kotlin/nerd/tuxmobil/fahrplan/congress/Dependencies.kt
Labels: Project setup, Housekeeping, Engelsystem, Alarms
